
body {
    font-family: 'Bai Jamjuree', sans-serif;
}

.loader {
    @apply inline-block h-6 w-6 animate-spin rounded-full border-4 border-solid border-current border-r-transparent motion-reduce:animate-[spin_1.5s_linear_infinite];
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.lightbox img {
    max-width: 90%;
    max-height: 90vh;
    transform: scale(0.95);
    transition: transform 0.3s ease-in-out;
}

.lightbox.active img {
    transform: scale(1);
}

.lightbox-controls {
    position: fixed;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    transform: translateY(-50%);
    pointer-events: none;
}

.lightbox-controls button {
    pointer-events: auto;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1001;
    justify-content: center;
    align-items: center;
}

.modal.active {
    display: flex;
}

.fade-scale-in {
    opacity: 0;
    transform: scale(0.95);
    animation: fadeScaleIn 0.3s ease forwards;
}

@keyframes fadeScaleIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}